@import models.data.Room
@import models.data.User
@import models.data.Chat.AjaxForm
@import models.data.Chat.PostForm
@import models.data.Evaluation
@(room: Room, user: User)

@template.main(room.name) {
<script>
        var no = 0;
        function escape(str) {
            return $('<span/>').text(str).html();
        }
        function getContentsProc() {
            $.ajax({
		        type: "@routes.ChatController.getAjax.method",
                url: "@routes.ChatController.getAjax.url",
                data: "@AjaxForm.roomId=@room.id&@{AjaxForm.no}=" + no,
                success: function(json) {
                    $.each(json, function(i, elem) {
                        no = elem.no;
                        var head = '<div class="head"><span class="no">' + escape(elem.no) +
                                   ' :</span><span class="time">' + escape(elem.timeStamp) + '</span></div>';
                        var shout = '<div class="shout">' + escape(elem.content) +'</div>'
                        var good = '<div class="good"><input type="button" data-no="' + no + '" class="goodbtn" value="👍"><span id="good-' + no + '" /></div>'
                        $('.comment').append(head + shout + good);
                    });
                }
		     });
        }

        function getEvaluationProc() {
            $.ajax({
                type: "@routes.ChatController.getEvaluationAjax.method",
                url: "@routes.ChatController.getEvaluationAjax.url",
                data: "@AjaxForm.roomId=@room.id",
                success: function(json) {
                    $.each(json, function(no, num) {
                        $('#good-' + no).text(num);
                    });
                }
            });
        }

        function makeEvalPostData(no) {
            return "@Evaluation.Form.roomId=@room.id&@Evaluation.Form.userId=@user.id&@Evaluation.Form.evaluationType=Good&@Evaluation.Form.no=" + no;
        }

        function makeContentPostData() {
            return "@PostForm.roomId=@room.id&@PostForm.userId=@user.id&@PostForm.content=" + $('#content').val();
        }

        $(function() {
            getContentsProc();
            getEvaluationProc();
            $('#post').on("click", function(){
                $.ajax({
                    type: "@routes.ChatController.post.method",
                    url: "@routes.ChatController.post.url",
                    data: makeContentPostData(),
                    success: function(json) {
                        $('#content').val('');
                        no = json.no;
                        var head = '<div class="head"><span class="no">' + escape(json.no) +
                                   ' :</span><span class="time">' + escape(json.timeStamp) + '</span></div>';
                        var shout = '<div class="shout">' + escape(json.content) +'</div>'
                        var good = '<div class="good"><input type="submit" data-no="' + no + '" class="goodbtn" value="👍"><span id="good-' + no + '" /></div>'
                        $('.comment').append(head + shout + good);
                    }
                });
            });
            $(document).on('click', '.goodbtn', function(){
                $.ajax({
                    type: "@routes.ChatController.evaluationAjax.method",
                    url: "@routes.ChatController.evaluationAjax.url",
                    data: makeEvalPostData($(this).data('no')),
                    success: function() {
                        getEvaluationProc();
                    }
                });
            });
            setInterval(function(){
		        getContentsProc();
		        getEvaluationProc();
	        },3000);
        });

</script>
<div class="">
    <div class="title">議題：@room.name</div>
    <div class="comment">
    </div>
</div>

<textarea id="content" name="@PostForm.content"></textarea>
<input type="button" id="post" value="投稿">
}