@import models.data.Room
@import models.data.User
@import models.data.Chat.AjaxForm
@import models.data.Chat.PostForm
@(room: Room, user: User)

@template.main(room.name) {
<script>
        var no = 0;
        function escape(str) {
            return $('<span/>').text(str).html();
        }
        function getContentsProc() {
            $.ajax({
		        type: "@routes.ChatController.getAjax.method",
                url: "@routes.ChatController.getAjax.url",
                data: "@AjaxForm.roomId=@room.id&@{AjaxForm.no}=" + no,
                success: function(json) {
                    console.log(json);
                    $.each(json, function(i, elem){
                        console.log(elem);
                        no = elem.no;
                        $('#chat_area').append(elem.content + "<br><br>");
                        var head = '<div class="head"><span class="no">' + escape(elem.no) +
                                   ' :</span><span class="time">' + escape(elem.timeStamp) + '</span></div>';
                        var shout = '<div class="shout">' + escape(elem.content) +'</div>'
                        var good = '<div class="good"><input type="submit" class="goodbtn" value="👍"><span id="good-' + no + '" /></div>'
                        $('.comment').append(head + shout + good);
                    });
                }
		     });
        }

        function getEvaluationProc() {
            $.ajax({
                type: "@routes.ChatController.getEvaluationAjax.method",
                url: "@routes.ChatController.getEvaluationAjax.url",
                data: "@AjaxForm.roomId=@room.id",
                success: function(json) {
                    console.log(json);
                    $.each(json, function(no, num) {
                        $('#good-' + no).text(num);
                    });
                }
            });
        }

        $(function() {
            getContentsProc();
            getEvaluationProc();
            setInterval(function(){
		        getContentsProc();
		        getEvaluationProc();
	        },3000);
        });

</script>
<div class="">
    <div class="title">議題：@room.name</div>
    <div class="comment">
    </div>
</div>
@helper.form(action = routes.ChatController.post) {
<input type="hidden" name="@PostForm.roomId" value="@room.id">
<input type="hidden" name="@PostForm.userId" value="@user.id">
<textarea name="@PostForm.content"></textarea>
<input type="submit" value="投稿">
}
}